<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shoujo recs!</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono|Muli">
</head>
<body>
    <button onclick="location.reload()" style="padding:20px;">get another rec!</button>
    <div class="page-margins">
        <h1 id="title">
            {{shoujo.title}}
        </h1>
        <img id="manga-pic" src="{{shoujo.url}}" alt="">
    </div>
    <div class="page-margins">
        <h3 id="genres-tropes"> 
            {{shoujo.genre}}  //  tropes: {{shoujo.tropes}}
        </h3>
        <p>
            {{shoujo.summary}}
        </p>
    </div>

</body>
</html>